@font-face {
    font-family: antique;
    src: url(/fonts/AntiqueBook.otf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.debug-black {
    border-style    : solid;
    border-radius   : 2px;
    border-color    :black;
}

.debug-red {
    border-style    : solid;
    border-radius   : 2px;
    border-color    : red;
}