<section>
    <h1>
        {{ h1 }}
    </h1>

    <div>
        Description Goes Here
    </div>


    @for(s of splash; track s.id) {
        <h2>
            {{ s.h2 }}
        </h2>

        <div [id]="s.id" class="splash">
            <p [class]="s.class+' debug-black'" >
                {{ s.p }}
            </p>
    
            <figure [class]="s.class+' debug-red'">
                <img [src]="s.img.src" [alt]="s.img.alt">
                <figcaption>
                    {{ s.figcaption }}
                </figcaption>
            </figure>
        </div>
    }

</section>
