h1 {
    font-size               : x-large;
}
section {
    margin-right            : 2.5%;
    margin-left             : 2.5%;
}
section h2 {
    font-size               : large;
    margin-right            : 2.5%;
    margin-left             : 2.5%;
}
section div {
    margin-right            : 7.5%;
    margin-left             : 7.5%;
}