header, footer{
    text-align      : center;
    width           : 100%;
}

header {
    font-size       : xx-large;
}

footer {
    bottom          : 1.5%;
    font-size       : xx-small;
    height          : 1.5%;
    position        : absolute;
}