header, footer{
    text-align      : center;
    width           : 100%;
}

header {
    font-family     : antique;
    font-size       : xx-large;
    padding-bottom  : 1%;
}

footer {
    bottom          : 1.5%;
    font-size       : xx-small;
    height          : 1.5%;
    position        : absolute;
}